#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tile {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  background-color: rgb(255, 0, 60);
  border: 2px solid black;
}
.tile:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.tile.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


/* .memoryGame {
  width: 100vw;
  display: grid;
  grid-template-columns:2rem, 2rem, 2rem; /*repeat(autofit, minmax(5rem, 1fr));
}
*/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
